<!-- templates/registration/email_change.html -->
{% extends 'base.html' %}
{% block title %}What to change your email?{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
  <h2>Set a new email!</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}
    <!--<input type="submit" value="Update email">-->
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
{% else %}
<h1>You shouldn't be here!</h1>
<p>Anyway, here is nothing interesting</p>
<p>So, please, get rid of it!</p>
<p>After 5 seconds you will be redirected to the main page</p>
<meta http-equiv="refresh" content="5;url={% url 'home' %}">
{% endif %}
{% endblock %}
