<!-- templates/registration/password_change.html -->
{% extends 'base.html' %}
{% block title %}Set a new password!{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
  <h2>Set a new password!</h2>
  <form method="POST">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}
    <!--{{ new_password1.help_text|linebreaksbr }}-->
    <!--<input type="submit" value="Update password">-->
    <button type="submit" class="btn btn-dark">Update password</button>
  </form>
{% else %}
<h1>You shouldn't be here!</h1>
<p>Anyway, here is nothing interesting</p>
<p>So, please, get rid of it!</p>
<p>After 5 seconds you will be redirected to the main page</p>
<meta http-equiv="refresh" content="5;url={% url 'home' %}">
{% endif %}
{% endblock %}
