<!-- templates/registration/password_change.html -->
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>Set a new password!</h1>
  <form method="POST">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}
    <!--<input type="submit" value="Update password">-->
    <button type="submit" class="btn btn-primary">Update password</button>
  </form>
{% else %}
<h1>You shouldn't be here!</h1>
<p>Anyway, here is nothing interesting</p>
<p>So, please, get rid of it!</p>
{% endif %}
{% endblock %}
