<!--mysite/polls/templates/polls/footer.html-->
<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item {{ about_page }}">
      <a class="nav-link" href="{% url 'polls:about' %}">About</a>
    </li>
    <li class="nav-item {{ contact_page }}">
      <a class="nav-link" href="{% url 'polls:contact' %}">Contact</a>
    </li>
</nav>
<!--style="position: fixed; bottom: 0; width:100%"-->
