<!--mysite/polls/templates/polls/index.html-->
{% extends "base.html" %}
{% block title %}Index{% endblock %}
<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">-->
{% block content %}
<h2>Index</h2>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>

    {% endfor %}
    </ul>
    <p></p>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if latest_question_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ latest_question_list.previous_page_number }}">previous</a>
        {% endif %}

        {% if latest_question_list.has_next %}
            <a href="?page={{ latest_question_list.next_page_number }}">next</a>
            <a href="?page={{ latest_question_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    <p></p>
    <span class="current">
        Page {{ latest_question_list.number }} of {{ latest_question_list.paginator.num_pages }}.
    </span>
</div>
<p>Go to home</p>
<p><a href="{% url 'home' %}">Home</a></p>
{% if user.is_authenticated %}
    <p>You can create new question here</p>
    <p><a href="{% url 'polls:new_question' %}">Create question</a></p>
    <p>You can logout here</p>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <p>So you can see question and results, but you can not vote</p>
  <p>Also you can not create a new question</p>
  <p>For seeing results, please, select a question above</p>
  <p>For creating question, please, login</p>
  <p>Have account?</p>
  <a href="{% url 'login' %}">login</a>
  <p>If you for a first time here</p>
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
