{% for question in latest_question_list %}
    {# Each "contact" is a Contact model object. #}
    {{ question.id }}<br>
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if latest_question_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ latest_question_list.number }} of {{ latest_question_list.paginator.num_pages }}.
        </span>

        {% if latest_question_list.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
