<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}! Your e-mail is {{ user.email }}, yep? 
  <p>You are now logged in and can go to polls:</p>
  <p><a href="{% url 'polls:index' %}">polls</a></p>
  <p>logout<p>
  <p><a href="{% url 'polls:logout' %}">logout</a></p>
  <p>reset password</p>
  <p><a href="{% url 'password_reset' %}">reset password</a></p>
{% else %}
  <p>You are not logged in</p>
  <p>Have account?</p>
  <a href="{% url 'polls:login' %}">login</a>
  <p>If you for a first time here</p>
  <a href="{% url 'polls:signup' %}">signup</a>
{% endif %}
{% endblock %}
