<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content%}
<h2>Home</h2>
{% if user.is_authenticated %}
  Hi {{ user.username }}! Your e-mail is {{ user.email }}, yep?
  <p></p>
  Last login by you fixated at {{ user.last_login }}
  <p>You are now logged in and you can go to polls:</p>
  <p><a href="{% url 'polls:index' %}">polls</a></p>
  <p>logout<p>
  <p><a href="{% url 'polls:logout' %}">logout</a></p>
  <p>Change first_name/last_name</p>
  <p><a href="{% url 'change_names' %}">change names</a></p>
  <p>change email</p>
  <p><a href="{% url 'email_change' %}">change email</a></p>
  <p>change password</p>
  <p><a href="{% url 'password_change' %}">change password</a></p>
  <p>reset password</p>
  <p><a href="{% url 'password_reset' %}">reset password</a></p>
{% else %}
  <p>You are not logged in</p>
  <p>Want to see polls (questions and results) without login? Welcome here:</p>
  <p><a href="{% url 'polls:index' %}" >Go to polls</a></p>
  <p>Have account?</p>
  <a href="{% url 'polls:login' %}">login</a>
  <p>If you for a first time here</p>
  <a href="{% url 'polls:signup' %}">signup</a>
{% endif %}
{% endblock %}
